.bottom-container{
    position:fixed;
    background-color:white;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    color:#ccc;
    z-index: 1;
    bottom:0;
    opacity: 1;
    transform: translateY(0%);
    
}
.hidden {
    transform: translateY(-100%);
    opacity: 0;
  }
.bottomnav-item{
    display: flex;
    //display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    text-align: center;
    position: relative;
    top: 8px;
    div{
        flex:1;
       
    }

    
   
}

