.comment{
    font-size:0.875em;
    display:block;
    width:100%;
    border: 1px solid lightgray;
    background: lightgray;
    color: black;
    border-radius: 70px;
    text-transform: uppercase;
    cursor: pointer;
}
.comment:hover {
    background: gray;
    color: white;
}